// @import url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

$primary-font: "Inter", sans-serif;

//Colors
$primary-color-1: hsl(35, 77%, 62%); //soft orange
$primary-color-2: hsl(5, 85%, 63%); //soft red

$neutral: hsl(36, 100%, 99%); //off white
$secondary-color-1: hsl(233, 8%, 79%); //grayish blue
$secondary-color-2: hsl(236, 13%, 42%); //dark grayish blue
$secondary-color-3: hsl(240, 100%, 5%); //dark space blue

/*
PICKLE

- Clean up spacing when greater than mobile
- Clean up HTML naming/comments
- Clean up SASS (nesting), comments
- Final Review
- Add to Github
- Post to FEM
*/

//Base
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //1 rem = 10px
  font-size: 62.5%;
  box-sizing: border-box;
}

//Fonts
body {
  font-size: 1.5rem;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1; //26px
}

h1 {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 4rem;
  line-height: 1;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.33;
}

p {
  line-height: 2.6rem;
}

a {
  text-decoration: none;
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
  }

  h2 {
    font-size: 4rem;
    line-height: 1;
  }
}



//Layout
.flex {
  display:flex;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .flex-wrap-tablet {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .flex-wrap-mobile {
    flex-wrap: wrap;
  }
}

//Margins
.mb-xl {
  margin-bottom: 7rem;
}

.mr-med {
  margin-right: 3rem;
}

@media screen and (max-width: 950px) { 
  .mr-med {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .mb-xl {
    margin-bottom: 6.4rem;
  }
}





.container {
  width: 1142px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem 1.6rem 9rem;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 100%;
    padding: 0 1.6rem 4.8rem 1.6rem;
  }
}

//----------------COMPONENTS----------------

// ------ Navigation ------
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.9rem 1.6rem 5.7rem;
  width: 1142px;
  max-width: 100%;
  margin: 0 auto;

  &__item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43.1rem;
    height: 2.6rem;
  }
  &__item {
    color: $secondary-color-2;
    text-decoration: none;
  }

  &__item:hover {
    color: $primary-color-2;
  }

}

.navigation__mobile {
  display: none;
}

.mobile-overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: $secondary-color-3;
  opacity: 50%;
}


@media screen and (max-width: 500px) {
  .navigation {
    display:none;

    // &__item-container {
    //   display: none;
    // }
  }
  .navigation__mobile {
    display: block;
    position:relative;
    padding: 2.8rem 1.6rem 3.2rem;

    &-icon {
      display: block;
      position: absolute;
      z-index: 200;
      right: 1.6rem;
      width: 4rem;
      font-size: 0.7rem;
      top: calc(50% - 9px)
    }

    &-logo {
      width: 4.5rem;
    }

    &-container {
      display:none;
      position: fixed;
      z-index: 150;
      width: 0rem;
      height: 100vh;
      background-color: $neutral;
      top: 0;
      right: 0;
      transition: width 0.2s ease-in;
    }

 
    &-items {
      display: flex;
      flex-direction: column;
      width: 20rem;
      margin: 14.4rem 2.8rem;
      margin-top: 14.4rem;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  
    &__item {
      margin-bottom: 2.4rem;
      color: $secondary-color-2;
    }

 
  body[data-status="open"] &-container {
    width: 25.6rem;
    display: block;
  }
 

}
body[data-status="open"] .mobile-overlay {
  display: block;
}
}

//pickle - figure out component widths as percentage of whole 730/1110, 350/1110

// ------ Featured Story ------

.featured-story {
  max-width: 73rem;
  // margin-right:3rem;

  .featured-story__image {
    display: block;
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  .featured-story__content {
    display: flex;
    // justify-content: space-between;
    margin-top: 1.5rem;

    // padding-top: 1rem;
  }
  .featured-story__title,
  .featured-story__wrapper {
    max-width: 35rem;
  }

  .featured-story__title {
    color: $secondary-color-3;

  }

  .featured-story__summary {
    color: $secondary-color-2;
  }

  .featured-story__cta {
    display: inline-block;
    background-color: $primary-color-2;
    color: $neutral;
    margin-top: 2.5rem;
    padding: 1.4rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.438rem;

    &:hover {
      background-color: $secondary-color-3;
    }
  }
}

// @media screen and (max-width: 700px) {
//   .featured-story {
//     margin-right:0;
//   }
// }

// @media screen and (max-width: 650px) {

// }

@media screen and (max-width: 650px) {
  // .featured-story__content {
  //   flex-wrap:wrap;
  // }
  .featured-story {
    margin-right:0;

    margin-bottom: 6.4rem;

    .featured-story__image {
      margin-bottom: 2.2rem;
    }

    .featured-story__title {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 500px) {

  .featured-story {
  .featured-story__content {
    flex-wrap:wrap;
  }

  .featured-story__title,
  .featured-story__wrapper {
    max-width: 100%;
  }
  }
}

// ------ New Stories ------
.new-stories {
  max-width: 35rem;

  padding: 2.8rem 2.4rem;
  background-color: $secondary-color-3;

  .new-stories__section-title {
    margin-bottom: 0.3rem;
    color: $primary-color-1;
  }

  .new-stories__story-header a {
    margin-bottom: 0.8rem;
    color: $neutral;
    &:hover {
      color: $primary-color-1;
    }
  }

  .new-stories__story {
    color: $secondary-color-1;
    padding-top: 2.9rem;
  }

  .new-stories__story:not(:last-child) {
    border-bottom: $secondary-color-2 solid 1px;
    padding-bottom: 3.2rem;
  }
}

@media screen and (max-width: 650px) {
  .new-stories {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .new-stories {
    padding-left: 2.05rem;
    padding-right: 2.05rem;
  }
}
// ------ Recent Stories ------
.recent-story {
  display: flex;
  width: 35rem;
  flex:1 1 auto;

  img {
    // height: 100%;
    margin-right: 2.4rem;
  }

  .recent-story__number {
    color: $secondary-color-1;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.2rem;
  }

  .recent-story__header {
    margin-bottom: 0.9rem;

    a {
      color: $secondary-color-3;
      &:hover {
        color: $primary-color-2;
      }
    }
  }

  .recent-story__summary {
    color: $secondary-color-2;
  }
}

@media screen and (max-width: 950px) {
  .recent-story {
    flex-wrap: wrap; 
    img {
      margin-right: 2rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .recent-story {
    flex-wrap: nowrap; 
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .recent-story {
    margin-bottom: 3.3rem;
  }

  .recent-story__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
