@import url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");

//Base
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    //1 rem = 10px
    font-size: 62.5%; 
    box-sizing: border-box;
}

//Fonts
body {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

//Colors


//Layout

.container {
    width: 1110px;
    margin: 0 auto;
}

//Components
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:6rem 0rem 5rem;

 .navigation__item-container {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 43.1rem;
  height: 2.6rem;
 } 

 .navigation__item {

 }
}