// @import url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

$primary-font: "Inter", sans-serif;

//Base
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //1 rem = 10px
  font-size: 62.5%;
  box-sizing: border-box;
}

//Fonts
body {
  font-size: 1.5rem;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1; //26px
}

h1 {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 4rem;
  line-height: 1;
}

p {
  line-height:2.6rem;
}

@media screen and (max-width: 37.5rem) {
  h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
  }
  
  h2 {
    font-size: 4rem;
    line-height: 1;
  }
}
a {
  text-decoration: none;
}

//Colors
$primary-color-1: hsl(35, 77%, 62%); //soft orange
$primary-color-2: hsl(5, 85%, 63%); //soft red

$neutral: hsl(36, 100%, 99%); //off white
$secondary-color-1: hsl(233, 8%, 79%); //grayish blue
$secondary-color-2: hsl(236, 13%, 42%); //dark grayish blue
$secondary-color-3: hsl(240, 100%, 5%); //dark blue

//Layout


.flex-space-between {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 37.5rem) {
  .flex-wrap-mobile {
    flex-wrap: wrap;
  }
}



.mb-xl {
  margin-bottom: 7rem;

  
}

@media screen and (max-width: 37.5rem) {
  .mb-xl {
    margin-bottom: 6.4rem;

  }
}


.container {
  width: 1142px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem 1.6rem 9rem;
}

@media screen and (max-width: 37.5rem) {
  .container {
    max-width:100%;
    padding: 0 1.6rem 4.8rem 1.6rem;
  }
}


//----------------COMPONENTS----------------

// ------ Navigation ------
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.9rem 1.6rem 5.7rem;
  width: 1142px;
  max-width: 100%;
  margin:0 auto;


  &__item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43.1rem;
    height: 2.6rem;
  }
  &__item {
    color: $secondary-color-2;
    text-decoration: none;
  }

  &__item:hover {
    color: $primary-color-2;
  }

  &__mobile-icon {
    display:none;
    position:absolute;
    z-index:200;
    right:1.6rem;
    width:4rem;
    font-size:.7rem;

    // &::before,
    // &::after {
    //   content:"";
    //   width:100%;
    //   height:.3rem;
    //   display:inline-block;
    //   background-color:$secondary-color-3;

    // }

    //  span {
    //   display: inline-block;
    //   width: 100%;
    //   height:.3rem;
    //   background-color:$secondary-color-3;

 
    // } 
  }

  &__mobile-container {
    // display:none;
    z-index:150;
    width:0rem;
    height:100vh;
    background-color: $neutral;
    top:0;
    right:0;
    transition: width .2s ease-in;
    
    
  }



  body[data-status='open'] &__mobile-container {
    width: 25.6rem;
    display:block;
  }



  &__mobile-items {
    display:flex;
    flex-direction: column;
    width: 20rem;
    margin: 14.4rem 2.8rem;
    margin-top: 14.4rem;
    font-size:1.8rem;
    line-height:2.4rem;

    
  }

  & &__mobile-items &__item  {
    margin-bottom: 2.4rem;
  }

  
}

.mobile-overlay {
  display:none;
  position: absolute;
  width:100vw;
  height:100vh;
  z-index: 100;
  background-color:$secondary-color-3;
  opacity:50%;
}

body[data-status='open'] .mobile-overlay {
  display:block;
} 
@media screen and (max-width: 37.5rem) {
  .navigation {
    padding: 2.8rem 1.6rem 3.2rem;

    &__logo {
      width:4.5rem;
    }
    &__item-container {
      display:none;
    }
  
    &__mobile-icon {
      display:block
    }
    &__mobile-container {
      position:fixed;

    }

  }
}

//pickle - figure out component widths as percentage of whole 730/1110, 350/1110

// ------ Featured Story ------

.featured-story {
  width: 73rem;
  // max-width: math.percentage(math.div(73rem, 110rem));

  .featured-story__image {
    display: block;
    width: 100%;

    img {
      max-width: 100%;
    }
  }


  .featured-story__content {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    // padding-top: 1rem;
  }
  .featured-story__title,
  .featured-story__wrapper {
    width: 35rem;
  }

  .featured-story__title {
    color: $secondary-color-3;

  }

  .featured-story__summary {
    color: $secondary-color-2;
  }

  .featured-story__cta {
    display: inline-block;
    background-color: $primary-color-2;
    color: $neutral;
    margin-top: 2.5rem;
    padding: 1.4rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height:2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.438rem;

    &:hover {
      background-color: $secondary-color-3;
    }
  }
}

@media screen and (max-width: 37.5rem) {
  .featured-story {
    width:100%;
    margin-bottom: 6.4rem;

    .featured-story__image {
      margin-bottom:2.2rem;
    }

    .featured-story__title {
      margin-bottom:2rem;
      
    }
  }


}
// ------ New Stories ------
.new-stories {
  width: 35rem;
//  max-width: math.percentage(math.div(35rem, 110rem));

  padding: 2.8rem 2.4rem;
  background-color: $secondary-color-3;

  .new-stories__section-title {
    margin-bottom:.3rem;
    color: $primary-color-1;
  }

  .new-stories__story-header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    color: $neutral;
    line-height:2.4rem;
    &:hover {
      color: $primary-color-1;
    }
  }

  .new-stories__story {
    color: $secondary-color-1;
    padding-top: 2.9rem;
  }

  .new-stories__story:not(:last-child) {
    border-bottom: $secondary-color-2 solid 1px;
    padding-bottom: 3.2rem;
  }
}

@media screen and (max-width: 37.5rem) {
  .new-stories {
    padding-left:2.05rem;
    padding-right:2.05rem;
  }
}
// ------ Recent Stories ------
.recent-story {
  display: flex;
  width: 35rem;

  picture {
    margin-right: 2.4rem;
  }

  .recent-story__number {
    color: $secondary-color-1;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
  }

  .recent-story__summary {
    color: $secondary-color-2;
  }
}

@media screen and (max-width: 37.5rem) {
  .recent-story {
    margin-bottom: 3.3rem;
  }

  .recent-story__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


}