@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

h1 {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 4rem;
  line-height: 1;
}

a {
  text-decoration: none;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 37.5rem) {
  .flex-wrap-mobile {
    flex-wrap: wrap;
  }
}
.mb-xl {
  margin-bottom: 7rem;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 9rem;
}

@media screen and (max-width: 37.5rem) {
  .container {
    max-width: 100%;
    padding: 0 1.6rem 9rem 1.6rem;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.9rem 0rem 5.7rem;
  max-width: 100%;
}
.navigation .navigation__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43.1rem;
  height: 2.6rem;
}
.navigation .navigation__item {
  color: hsl(236, 13%, 42%);
  text-decoration: none;
}
.navigation .navigation__item:hover {
  color: hsl(5, 85%, 63%);
}

.featured-story {
  width: 73rem;
}
.featured-story .featured-story__image {
  display: block;
  width: 100%;
}
.featured-story .featured-story__content {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-top: 1rem;
}
.featured-story .featured-story__title,
.featured-story .featured-story__wrapper {
  width: 35rem;
}
.featured-story .featured-story__title {
  color: hsl(240, 100%, 5%);
}
.featured-story .featured-story__summary {
  color: hsl(236, 13%, 42%);
}
.featured-story .featured-story__cta {
  display: inline-block;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  margin-top: 2.5rem;
  padding: 1.4rem 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5rem;
}
.featured-story .featured-story__cta:hover {
  background-color: hsl(240, 100%, 5%);
}

@media screen and (max-width: 37.5rem) {
  .featured-story {
    width: 100%;
  }
}
.new-stories {
  width: 35rem;
  padding: 2.8rem 2.4rem;
  background-color: hsl(240, 100%, 5%);
}
.new-stories .new-stories__section-title {
  color: hsl(35, 77%, 62%);
}
.new-stories .new-stories__story-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: hsl(36, 100%, 99%);
}
.new-stories .new-stories__story-header:hover {
  color: hsl(35, 77%, 62%);
}
.new-stories .new-stories__story {
  color: hsl(233, 8%, 79%);
  padding-top: 3rem;
}
.new-stories .new-stories__story:not(:last-child) {
  border-bottom: hsl(236, 13%, 42%) solid 1px;
  padding-bottom: 3rem;
}

.recent-story {
  display: flex;
  width: 35rem;
}
.recent-story picture {
  margin-right: 2.4rem;
}
.recent-story .recent-story__number {
  color: hsl(233, 8%, 79%);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
}
.recent-story .recent-story__summary {
  color: hsl(236, 13%, 42%);
}

/*# sourceMappingURL=style.css.map */
